/* Navbar */
._navbar_wrap {
    background-color: #fff !important;
    box-shadow: 0px 0px 60px rgba(48, 114, 255, 0.06);
}

.navbar-brand {
    margin-right: 8px;
}

._navbar_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

._navbar_pricing_li {
    flex: 0 0 390px;
    width: 390px;
}

._navbar_pricing_li ._housiko_hero_content_tab_input {
    background-color: #F3F3F9 !important;
}

._navbar_link {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000 !important;
}

._navbar_btn {
    background: #252E8D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF !important;
    border: 1px solid #252E8D !important;
    padding: 13px 16px !important;
    border-radius: 6px;
    gap: 0 8px;
}

._navbar_ul2 {
    align-items: center;
}

._navbar_ul22 {
    gap: 0 8px;
}

._navbar_btn_list {
    background-color: #fff;
    color: #000000 !important;
    padding: 16px !important;
    margin: 0 10px 0 0;
}

._myinfo_navbar_btn_list {
    background-color: #fff;
    color: #000000 !important;
    padding: 14px !important;
    margin: 0 20px 0 0;
}

._navbar_btn3 {
    background: #fff;
    border: none !important;
    padding: 5px 12px !important;
}

._navbar_btn3 .ant-select-selection-item {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0 !important;
}

._housiko_listing_top_filter .ant-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 4px;
}

._housiko_listing_top_filter .ant-select-selector {
    padding-right: 10px;
}

._housiko_listing_top_filter {
    padding-left: 6px !important;
}

._housiko_listing_top_filter .ant-select-arrow {
    position: static;
    margin-top: 2px;
}

.ant-select-dropdown {
    min-width: 80px !important;
}

._navbar_btn3_flag_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
}

._navbar_btn3_flag {
    width: 24px;
    height: 24px;
    align-self: stretch;
}

.myinfo_navbar_flag {
    width: 24px;
    margin: 0 10px 0 13px;
}

._myinfo_select_currency {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

._navbar_btn3.myinfo_navbar_btn {
    padding: 3px 0 !important;
}

._navbar_btn3 .ant-select-selector {
    border: none !important;
    box-shadow: none !important;
}


._housiko_listing_nav_filter .ant-select-selection-item {
    font-family: 'Inter';
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 19px;
    color: #FFBF00 !important;
}

._housiko_listing_nav_select_wrap {
    padding: 16px 12px;
    background: #F2F2F9;
    display: flex;
    gap: 0 22px;
}

._housiko_listing_nav_select_li .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 0;
    box-shadow: none !important;
    background: #F2F2F9;
}

._housiko_listing_nav_select_ul {
    gap: 0 8px;
}

/* Dropdown */
._dropdown_price_wrap {
    width: 424px;
    max-width: 424px;
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

._dropdown_more_wrap {
    width: 320px;
    max-width: 320px;
}

._housiko_listing_nav_dropdown_txt {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
}

._dropdown_price_title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

._dropdown_price_content {
    margin: 20px 0 0;
    padding: 0 0 24px;
    border-bottom: 1px solid #ECECEC;
}

._dropdown_type {
    border-bottom: 1px solid #ECECEC;
}

._housiko_listing_nav_dropdown {
    padding: 12px 6px;
    border: 1px solid rgba(85, 85, 85, 0.4);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    cursor: pointer;
    background-color: #fff;
}

._housiko_listing_floor_nav_dropdown {
    width: 160px;
}

._housiko_listing_nav_dropdown_txt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
}

span._housiko_listing_nav_dropdown_ic {
    display: none;
}

._dropdown_price_content_input_wrap {
    display: flex;
    align-items: center;
    gap: 0 16px;
}

._dropdown_price_content_input_inner {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

._dropdown_price_content_input_label {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 14px;
}

._dropdown_price_content_input {
    /* padding: 12px 16px;
    border: 1px solid rgba(85, 85, 85, 0.4);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    padding-right: 60px; */
    padding: 7px 2px;
    border: 1px solid rgba(85, 85, 85, 0.4);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    padding-right: 8px;
}

._dropdown_price_content_input_select_wrap .ant-select-selector {
    border: none !important;
    box-shadow: none !important;
}

._dropdown_price_content_input_select_wrap {
    position: relative;
}

._price_select_wrap {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ECECEC;
    border-radius: 4px;
}

._price_select .ant-select-selector {
    background: #ECECEC !important;
    border-radius: 4px !important;
    border-color: rgba(85, 85, 85, 0.4) !important;
    box-shadow: none !important;
    height: 40px !important;
    display: flex;
    align-items: center
}

._dropdown_price_content_btn_wrap {
    padding: 16px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

._dropdown_price_content_btn {
    padding: 11px 24px;
    background: #252E8D;
    border-radius: 6px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

._housiko_listing_floor_nav_drop_inner ._price_select_wrap {
    top: 50%;
    right: 4px;
    transform: translate(0, -50%);
}

._housiko_listing_floor_nav_drop_inner ._dropdown_price_content_input {
    padding-right: 44px;
}

._dropdown_type_inner {
    display: flex;
    align-items: flex-start;
}

._dropdown_type_content {
    flex: 1 1;
}

._dropdown_type_content_li {
    margin: 14px 0;
}

._dropdown_type_content_ul_in {
    padding: 0 0 0 20px !important;
}

._dropdown_type_content_li_in {
    margin: 14px 0;
}

._login_input_label_txt {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
}

._dropdown_fav_wrap {
    width: 220px !important;
    max-width: 220px !important;
    padding: 0 16px !important;
}

._dropdown_fav_li {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 7px 16px;
    margin: 0 -16px;
    display: flex;
    align-items: center;
    gap: 0 4px;
    transition: .2s all ease;
}

._dropdown_fav_li:hover {
    background: #f8f9ff;
    cursor: pointer;
}

._dropdown_fav_li_ic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

._fav {
    background: rgba(163, 44, 44, 0.05);
}

._fav svg path:nth-last-child(1) {
    fill: #A32C2C;
    stroke: #A32C2C;
}

._house_w {
    background: rgba(37, 46, 141, 0.05);
}

._house_w svg path:nth-last-child(1) {
    fill: #252E8D;
    stroke: #252E8D;
}

._house_s {
    background: rgba(255, 191, 0, 0.25);
}

._house_s svg path:nth-last-child(1) {
    fill: #FFBF00;
    stroke: #FFBF00;
}

._plus {
    background-color: #252E8D;
}

._plus svg path {
    fill: #fff;
    /* stroke: #fff; */
    opacity: 1;
}

._plus svg rect {
    /* fill: #fff; */
    stroke: #fff;
    opacity: 1;
}

/* Dropdown */
._nav_more_btn {
    gap: 0 6px;
    padding: 11.5px 16px;
}

._housiko_listing_nav_tag_wrap {
    flex: 1 1;
}

._housiko_listing_nav_tag_ul {
    display: flex;
    align-items: center;
    gap: 0 8px;
}

._housiko_listing_nav_tag_li {
    background: #555555;
    border: 1px solid rgba(85, 85, 85, 0.4);
    border-radius: 8px;
    width: fit-content;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 2px;
}

._housiko_listing_nav_tag_li_txt {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: #FFFFFF;
}

._housiko_listing_nav_tag_li_ic {
    display: flex;
    align-items: center;
    justify-content: center;
}

._housiko_listing_nav_search_btn_wrap {
    padding-left: 12px;
    border-left: 1px solid #555555;
    margin: 0 0 0 auto;
}

._housiko_listing_nav_search_btn_ul {
    display: flex;
    align-items: center;
    gap: 0 8px;
}

._housiko_listing_nav_search_btn {
    border-radius: 6px;
    padding: 16px 12px;
    display: flex;
    align-items: center;
    gap: 0 10px;
    background: #252E8D;
}

._housiko_listing_nav_alert_btn {
    background: #FFBF00;
    padding: 14px 12px;

}

._housiko_listing_nav_search_btn_txt {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

._housiko_listing_nav_alert_btn ._housiko_listing_nav_search_btn_txt {
    color: #000000;
}

._housiko_listing_nav_city_select_wrap {
    flex: 1 1;
    background: #F3F3F9;
    border-radius: 6px;
    padding: 8px;
    align-self: stretch;
    cursor: pointer;
}

._housiko_listing_nav_city_select_ul {
    display: flex;
    align-items: center;
    gap: 0 8px;
    height: 100%;
}

._housiko_listing_nav_city_select_btn {
    padding: 5px 7px;
    height: 100%;
    background: #F3F3F9;
    border: 1px solid #CECCCC !important;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 0 4px;
}

._housiko_listing_nav_city_select_ic {
    display: flex;
    align-items: center;
    justify-content: center;
}

._housiko_listing_nav_city_select_li {
    height: 100%;
}

._housiko_drawer_ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

._housiko_drawer_li {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 20px 0;
}

.ant-drawer-header {
    border-bottom: 0;
}

.ant-drawer-close {
    padding-left: 0;
}

/* Navbar */
/* Modals */
._saved_modal_wrap {
    height: calc(100% - 300px);
}

._saved_modal_wrap .ant-modal-content {
    height: 100%;
    overflow: auto;
}

._saved_modal_content_li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 4px;
    background-color: #ebeefa;
    margin: 4px 0 8px;
}

._saved_modal_content_li_title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: #343434;
    margin: 0px 0 8px;
}

._saved_modal_content_li_p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #343434;
}

._saved_modal_content_li_btn_wrap {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

._saved_modal_content_li_btn {
    width: 45px;
    height: 45px;
    border-radius: 4px;
}

._saved_modal_wrap ._del_btn {
    background: #fff;
}

._saved_modal_wrap ._search_btn {
    background-color: #2430b1;
}

._saved_modal_wrap ._search_btn svg path {
    stroke: #fff;
}

._saved_modal_wrap ._search_btn svg circle {
    stroke: #fff;
}

/* Modals */